# gradle
.gradle
build

# eclipse
eclipse/
*.pydevproject
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath
*.launch

# idea
*.iml
*.ipr
*.iws
.idea/*
!.idea/icon.*
!.idea/scopes

# vscode
.settings/
.vscode/
bin/
.classpath
.project

# macos
*.DS_Store

# java
*.hprof
*.jfr

# generic
run
runs
*.log
